body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color:white
}
nav ul li{
    padding:0px 12px;
}

.brand img{
    width: 65px;
    padding: 4px;

}

.brand{
    display: flex;
    align-items: center;
    font-weight:900;
    font-size: 1.3rem;
}

.bottom{
    position: sticky;
    height:120px;
    background-color:black ;
}